.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 60px;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}
.header__center > input {
  border: none;
  width: 250px;
  padding: 10px;
  outline-width: 0;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17vw;
  margin-right: 80px;
}
