.card {
  width: 240px;
  height: 70px;
  display: flex;
  flex-direction: row;
  border: none;
  cursor: pointer;
}
.card > img {
  max-height: 80%;
}
.card__info {
  margin-left: 20px;
  height: 70px;
}
.card__info > p {
  margin: 5px 0;
}
