.city {
  width: 80%;
  height: 200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.city > a {
  text-decoration: none;
  color: black;
}
