.guest {
  width: 350px;
  height: 50px;
  border-radius: 999px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 80px;
  align-items: center;
  transform: translateX(80%);
}
.guest > input {
  width: 80px;
  height: 20px;
  outline: none;
}
.guest > input:focus {
  outline: none;
}
